[Unit]
Description=ipsets@%i
Before=network-pre.target iptables.service ip6tables.service
Wants=network-pre.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/bash /etc/systemd/system/ipsets@.service.d/ipsets.sh load %i
ExecReload=/bin/bash /etc/systemd/system/ipsets@.service.d/ipsets.sh reload %i
ExecStop=/bin/bash /etc/systemd/system/ipsets@.service.d/ipsets.sh unload %i

[Install]
WantedBy=multi-user.target

